.flexContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.flexContainerColum {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.marginLeft{
    margin-left: 15px;
}