label {
    display: block;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

input, select {
    min-width: 100%;
    min-height: 20px;
}